@model Public360.ViewModels.CityDetail

@{
    ViewBag.Title = "Details";
}
<script src="/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script> 
<script type="text/javascript">
    $(function () {
        $('.UISubTypeButton').live('click',function () {
            var uiSubTypeButton = $(this);
            var id = uiSubTypeButton.attr("id");
            var num = id.toString().substring(15);
            var cityID = @Model.City.CityID;
            if (num != null && num != '') {
                if ($(this).html() == 'Expand')
                {
                    var expID = '#UISubTypeExpander' + num;
                    var cityExpander = $(expID);
                    if (cityExpander.html() == '')
                    {
                        $.getJSON('@Url.Action("UICityDataJSON")', { uiCityDataTypeID: num, cityID: cityID }, function (uiCityDatas) {
                            var expID = '#UISubTypeExpander' + num;
                            var cityExpander = $(expID);
                            cityExpander.html('');
                            $.each(uiCityDatas, function (index, uiCityData) {
                                cityExpander.append('<div id="UIDetail' + num.toString() + '" class="UIDetail' + num.toString() + '">' + uiCityData.text + '&nbsp;&nbsp;&nbsp;&nbsp;' + uiCityData.value + '<br />' + '</div>');
                             });
                       });
                    }
                    else
                    {
                        $('.UIDetail' + num.toString()).attr("style", "display:show");
                    }
                    $(this).html('Contract');
                }
                else
                {
                    $('.UIDetail' + num.toString()).attr("style", "display:none");
                    $(this).html('Expand');
                }
            }
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('.UISourceCityButton').live('click', function () {
            //TODO: need to figure out best way when clicking a second or third city's add button
            // to add the second or third set of data to the already populated expanders (inner html exists)
            //try loop through expanders, if have inner html, query to get data for that city and that expander
            //then modify inner html to add the extra data
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#UICityDataTypeList').change(function () {
            var selectedUICityDataType = $("#UICityDataTypeList").val();
            if (selectedUICityDataType != null && selectedUICityDataType != '') {
                $.getJSON('@Url.Action("UICityDataTypeJSON")', { uiCityDataTypeID: selectedUICityDataType }, function (uiCityDataTypes) {
                    var cityData = $('#CityData');
                    cityData.html('<div id="CityDataCol1"></div>');
                    var cityDataCol1 = $('#CityDataCol1');
                    cityDataCol1.html('@Model.City.CityUniqueName');
                    $.each(uiCityDataTypes, function (index, uiCityDataType) {
                        cityDataCol1.append('<div id="UISubType' + uiCityDataType.value + '">' + uiCityDataType.text + '&nbsp;&nbsp;&nbsp;&nbsp;' + '<button id="UISubTypeButton' + uiCityDataType.value + '" class="UISubTypeButton">Expand</button>' + '<br />' + '</div>' + '<div id="UISubTypeExpander' + uiCityDataType.value + '">' + '</div>');
                    });
                });
            }
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#ComparisonCityList').change(function () {
            var selectedCity = $("#ComparisonCityList").val();
            if (selectedCity != null && selectedCity != '') {
                $.getJSON('@Url.Action("SingleCityPopJSON")', { cityID: selectedCity }, function (cities) {
                    var citiesSelect = $('#SourceCitiesList');
                    $.each(cities, function (index, city) {
                        var sourceCityID = '#UISourceCity' + city.value.toString();
                        var existCity = $(sourceCityID);
                        if (existCity.html() == null) {
                            citiesSelect.append('<div id="UISourceCity' + city.value + '">' + '<button id="UISourceCityButton' + city.value + '" class="UISourceCityButton">Add</button>' + city.text + '&nbsp;&nbsp;&nbsp;&nbsp;<br />' + '</div>');
                        }
                    });
                });
            }
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#Submit').click(function () {
            var percent = $("#PopComparisonPercent").val();
            var cityID = @Model.City.CityID;
            var stateID = @Model.City.StateID;
            var homePop = @Model.CityPopulation;

            if (percent != null && percent != '') {
                $.getJSON('@Url.Action("CitiesWithinPercentJSON")', { excludeCityID: cityID, stateID: stateID, homePop: homePop, percent: percent }, function (cities) {
                    var citiesSelect = $('#SourceCitiesList');
                    //citiesSelect.html('');
                    $.each(cities, function (index, city) {
                        var sourceCityID = '#UISourceCity' + city.value.toString();
                        var existCity = $(sourceCityID);
                        if (existCity.html() == null) {
                            citiesSelect.append('<div id="UISourceCity' + city.value + '">' + '<button id="UISourceCityButton' + city.value + '" class="UISourceCityButton">Add</button>' + city.text + '&nbsp;&nbsp;&nbsp;&nbsp;<br />' + '</div>');
                        }
                    });
                });
            }
        });
    });
</script>

<h2>City: @Model.City.CityUniqueName</h2><br />
<div class="user-selection" style="background-color:#FFD700;height:500px;width:400px;float:left;">
 Select Type of Data<br />
        <select id="UICityDataTypeList" size=@Model.UICityDataTypeSize>
            @foreach (var uiCityDataType in Model.UICityDataTypes)
            {
                <option value=@uiCityDataType.CityDataTypeID>@uiCityDataType.DisplayText</option>
            }
         </select> <br />
    <h3>Add Comparisons</h3><br />
        <select id="ComparisonCityList">
            <option value="">Select City...</option>

            @foreach (var city in Model.ComparisonCities)
            {
                <option value=@city.CityID>@city.CityUniqueName</option>
            }
         </select> <br />
         Population&nbsp;&nbsp;@Model.CityPopulation &nbsp; &nbsp: Within +/- (%) <input id="PopComparisonPercent" type="text" value="3" /> <br />

        <button id="Submit">Submit</button>
        <div id="SourceCitiesList" >
        </div>
</div>
<div id="CityData" |style="float:left;">
</div>
